.contenedor {
 display:grid;
 grid-template-columns: 500px 500px;
 grid-template-rows: 100px 200px 400px 200px;

}
topnav {
  grid-column-start: 1;
  grid-column-end: 4;
  border: 3px solid black;
  background-color:green;
  height: 40%;
  /*float:left; */

}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  border: 3px solid black;
  background-color:green;
  height: 40%;
  /*float:left; */

}
nav{
  /*float: left;*/
  /* margin: 0 1.5%;*/
  grid-column-start: 1;
  grid-column-end: 2;
  /*margin: 0 1.5%;*/
  width: 35%;
  border: 3px solid black;
}
promos{
  grid-column-start: 2;
  grid-column-end: 3;
  /*float: right;*/
  /*width: 82%;*/
}
footer{
  grid-column-start: 1;
  grid-column-end: 4;
  border: 3px solid black;
  /*clear: both;*/
  /*clear: right;*/
  
}
footer div {
  float: left;
  margin: 3px;
}

header section{
    border: black solid;  
    float:left;
}
topnav p{
  float:left;
}
/*section p {
  background-color:salmon;
  float:inline-start;
  }
  */
.searcher {
    border: black solid;
     /*float:left;*/
  }

.login div {
    /*border: black solid;*/
    /* float:right;*/
  }


div {
  /*background: blue;*/
  
  }